# NextAuth configuration
NEXTAUTH_URL=http://localhost:3000
# Puedes generar un secreto ejecutando: openssl rand -base64 32
NEXTAUTH_SECRET=

# Google Calendar OAuth2 Credentials
# Obtén estas credenciales desde Google Cloud Console -> APIs y Servicios -> Credenciales
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
